body {
    background-color: rgb(254, 250, 239);
}

.rubik {
    font-family: 'Rubik';
}

.pt-sans {
    font-family: 'PT Sans';
}

.nav-left {
    background-color: rgb(39, 53, 92);
}

.main-img {
    height: 60px;
}

.nav-item {
    border-left: 3px solid transparent;
}

.nav-item:hover {
    border-left: 3px solid white;
}

.active {
    border-left: 3px solid white;
}

.min-height {
    min-height: 500px;
}

.min-width {
    min-width: 800px;
}

.main-bg {
    background-image: url(img/brainbg.jpg);
    background-size: cover;
    background-position: center;
}

.mw-50 {
    max-width: 50%;
}

.radius-right {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.radius-left {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
