.rubik {
    font-family: 'Rubik';
}

.pt-sans {
    font-family: 'PT Sans';
}

.h-100 {
    height: calc(100vh - 16px) !important;
}

.fw-medium {
    font-weight: 600;
}

.main-img {
    height: 70px;
}

.mw-800 {
    max-width: 800px;
}

.mh-600 {
    max-height: 600px;
}

.main-bg {
    background-image: url(img/brainbg.jpg);
    background-size: cover;
    background-position: center;
}

.radius-right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.radius-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

body {
    background-color: rgb(254, 250, 239);
}

.nav-left {
    background-color: rgb(39, 53, 92);
}

.btn-primary {
    background-color: rgb(255, 78, 16);
    border-color: transparent;
}

.btn-primary:hover {
    background-color: rgb(255, 78, 16, 0.7);
    border-color: transparent;
}

.btn-primary:focus {
    background-color: rgb(255, 78, 16);
    border-color: transparent;
    box-shadow: 0 0 0 0.25rem rgb(255, 78, 16, 0.5);
}

.btn-primary:active {
    background-color: rgb(255, 78, 16);
    border-color: rgb(255, 78, 16);
}

.btn-primary:active:focus {
    box-shadow: 0 0 0 0.25rem rgb(255, 78, 16, 0.5);
}

.btn-primary:disabled {
    background-color: rgb(0, 0, 0, 0.1);
    border-color: rgb(0, 0, 0, 0.1);
}

.bg-badge {
    background-color: rgb(215, 215, 215);
}

a {
    cursor: pointer;
}

.inactive {
    opacity: 0.6;
    border-left: 3px solid transparent;
}

.inactive:hover {
    opacity: 1;
    border-left: 3px solid white;
}

.active {
    border-left: 3px solid white;
}

.badge {
    color: black;
    font-size: 18px;
    font-weight: 600;
    padding: 9px 12px 9px 12px;
}

.progress-bar {
    background-color: rgb(39, 53, 92);
}

.answer-hover:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.05);
}

.bg-success, .bg-danger {
    color: white;
}

.score-color {
    color: rgb(225, 138, 69);
}