body {
    background-color: rgb(254, 250, 239);
}

.rubik {
    font-family: 'Rubik';
}

.pt-sans {
    font-family: 'PT Sans';
}

.nav-left {
    background-color: rgb(39, 53, 92);
}

.fw-medium {
    font-weight: 600;
}

.main-img {
    height: 60px;
}

.min-height {
    min-height: 500px;
}

.min-width {
    min-width: 800px;
}

.main-bg {
    background-image: url(img/brainbg.jpg);
    background-size: cover;
    background-position: center;
}

.mw-50 {
    max-width: 50%;
}

.radius-right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.radius-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-primary {
    background-color: rgb(255, 78, 16);
    border-color: transparent;
}

.btn-primary:hover {
    background-color: rgb(255, 78, 16, 0.7);
    border-color: transparent;
}

.btn-primary:focus {
    background-color: rgb(255, 78, 16);
    border-color: transparent;
    box-shadow: 0 0 0 0.25rem rgb(255, 78, 16, 0.5);
}

a {
    cursor: pointer;
}

.inactive {
    opacity: 0.6;
    border-left: 3px solid transparent;
}

.inactive:hover {
    opacity: 1;
    border-left: 3px solid white;
}

.active {
    border-left: 3px solid white;
}

.bg-badge {
    background-color: rgb(215, 215, 215);
}
 .badge {
    color: black;
    font-size: 18px;
    font-weight: 600;
    padding: 9px 12px 9px 12px;
 }

 .progress-bar {
    background-color: rgb(39, 53, 92);
 }

 .min-h-100 {
    min-height: calc(100vh - 16px) !important;
 }